@model List<TaskManagementSystem.Models.TaskItem>

@{
    ViewData["Title"] = "User - My Tasks";
}

<h2>My Tasks</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Status</td>
            </tr>
        }
    </tbody>
</table>
